<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <h3 id="titulo">
        <font size=20 face="MarvelFont">
          Lista de Quadrinhos
        </font>
      </h3>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-9 sub-titulo">
      <b>1 - Escolha seu Quadrinho </b>
      <b>2 - Marque seu endereço no Mapa</b>
      <b> 3 - Receba seu quadrinho em casa!</b>
    </div>
  </div>


  <app-Commics></app-Commics>

</div>

